li {
    list-style-type: none;
}

.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}

.review_form {
    display: block;
    width: 50%;
    margin: 20px auto;
}
