$box_border_color: #BB9D75;
$box_color: #f5f2e8;
$box_header_color: #dff0d8;
$font_dark_brown: #4b3f2f;

li {
    list-style-type: none;
}

//.ng-invalid.ng-dirty {
    //border-color: red;
//}

//.ng-valid.ng-dirty {
    //border-color: green;
//}

.container {
    padding-bottom: 30px;
}

.review_form {
    display: block;
    width: 60%;
    margin: 20px auto;
}

.beer {
    display: block;
    padding: 15px;
    .logo { margin-left: 30px; }
}

.beer_list {
    display: block;
    color: $font_dark_brown;
    border: 2px solid $box_border_color;
    ul {
        background-color: $box_color;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 0;
        padding: 19px;
    }

    header {
        background-color: $box_header_color;
        border-bottom: 2px solid $box_border_color;
        height: 75px;
        padding: 12px;
        text-align: center;
        .title {
            text-transform: uppercase;
            font-size: 20px;
            margin: 0 0 5px;
        }
        .filters {
            span {
                padding: 0 7px;
                &.all {
                    border-right: 1px solid $font_dark_brown;
                }
                a {
                    &:hover, &:visited, &:active {
                        color: $font_dark_brown;
                    }
                }
            }
        }
    }
}

.my_beers_map {
    display: block;
    #map {
        height: 300px;
        width: 100%;
    }
}
