li {
  list-style-type: none; }

.container {
  padding-bottom: 30px; }

.review_form {
  display: block;
  width: 60%;
  margin: 20px auto; }

.beer {
  display: block;
  padding: 15px; }
  .beer .logo {
    margin-left: 30px; }

.beer_list {
  display: block;
  color: #4b3f2f;
  border: 2px solid #bb9d75; }
  .beer_list ul {
    background-color: #f5f2e8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 0;
    padding: 19px; }
  .beer_list header {
    text-transform: uppercase;
    background-color: #dff0d8;
    border-bottom: 2px solid #bb9d75;
    font-size: 20px;
    height: 50px;
    padding: 12px;
    text-align: center; }
