<div class="row">
    <aside class="col-sm-2">
        <a href="#"><img ng-src="{{beer.beer_label}}" alt="Label for {{beer.beer_name}}" class="full"></a>
    </aside>
    <div class="col-sm-10">
        <h3>{{beer.beer_name}}</h3>
        <p>By {{beer.brewery_name}}</p>
    </div>
</div>
