<form name="reviewForm" class="form-horizontal" ng-submit="addReview(reviewForm)" novalidate>
    <section class="row well live-preview">
        <beer beer="beer"></beer>
    </section>
    <div class="row input-container">
        <fieldset class="form-group">
            <span class="input-group">
                <input type="text" class="form-control" id="beer_name" ng-model="beer.beer_name"
                    placeholder="Beer name" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="searchBeer(beer.beer_name)">Search</button>
                </span>
            </span>
        </fieldset>
        <fieldset class="form-group">
                <input type="text" id="brewery_name" class="form-control" ng-model="beer.brewery_name"
                placeholder="Brewery name" required>
        </fieldset>
        <fieldset class="form-group">
                <input type="text" id="beer_label" class="form-control" ng-model="beer.beer_label"
                placeholder="Url for the beer label image" required>
        </fieldset>
        <fieldset class="form-group">
            <label for="rating" class="control-label col-sm-3">Rating:</label>
            <span class="col-sm-9">
                <select class="form-control" id="rating" value="5" ng-model="beer.beer_rating">
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                </select>
            </span>
        </fieldset>
        <fieldset class="form-group">
                <button class="btn btn-primary">Save</button>
        </fieldset>
    </div>
</form>
